  body {
    width: 100vw;
    height: 100vh;
    background-image: url(resources/90s-background.jpg);
  }  
  
  .header {
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(101, 96, 165);
  }

  .row {
    margin: 15% 28%;
    width: 280px;
    clear: both;
    text-align: center;
    font-family: 'Exo';
  }
  
  .digit {
    float: left;
    padding: 2px 2px;
    margin: 5px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    background-color: black;
  }
  
  .sub {
    font-size: 0.8rem;
    color: grey;
  }
  
  .container {
    background-color: rgb(230, 120, 185);
    border-radius: 15%;
    width: 320px;
    padding: 20px;
    margin: 20% auto;
    height: 50%;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  #output {
    font-family: "Exo";
    font-size: 2rem;
    height: 60px;
    font-weight: bold;
    color: #1976d2;
  }
  
  #call {
    display: inline-block;
    background-color: #66bb6a;
    padding: 4px 30px;
    margin: 10px;
    color: white;
    border-radius: 4px;
    float: left;
    cursor: pointer;
  }
  
  .digit:active {
    background-color: #e6e6e6;
  }
  
  #call:hover {
    background-color: #81c784;
  }

  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  .modal-bg {
    position: absolute;
    background: teal;
    width: 100%;
    height: 100%;
  }
  .modal-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
  }
  .modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }